<input type="text" appHigh placeholder="შეიყვანე ტექსტი">

<input 
  type="text" 
  placeholder="ძიება..." 
  (input)="onInput($event)"
>

<ul>
  @for (item of filteredItems(); track item) {
    <li>{{ item }}</li>
  }

  @if (filteredItems().length === 0) {
    <p>No results</p>
  }
</ul>



<input type="text" appHigh placeholder="შეიყვანე">

<button appHigh>
  დამაჭირე
</button>


<h1>როლის ცვლილება</h1>

<div>
  <button (click)="setRole('admin')">ადმინი</button>
  <button (click)="setRole('user')">მომხმარებელ</button>
  <button (click)="setRole('guest')">სტუმარი</button>
</div>

<hr>

@switch (role()) {

  @case ('admin') {
    <div>
      <h2>ადმინი</h2>
      <p>აქ შეგიძლია მართო სისტემა</p>
    </div>
  }

  @case ('user') {
    <div>
      <h2>მომხმარებელი</h2>
      <p>მომხმარებლის ჩვეულებრივი სივრცე</p>
    </div>
  }

  @default {
    <div>
      <h2>სტუმარი</h2>
      <p>სტუმრის რეჟიმი</p>
    </div>
  }

}


<input type="password" appPassword placeholder="პაროლი">


<button (click)="toggle()">
  წკაპ
</button>

@if (isVisible()) {
  <section>
    <h2>იეს გამოჩნდა 🎉</h2>
  </section>
}


<input type="text" appCleanInput placeholder="only letters & numbers">



<ul>
  @for (item of items(); track item; let i = $index) {
    <li
      (click)="select(item)"
      [style.background]="selected() === item ? 'lightblue' : ''"
    >
      {{ item }}
    </li>
  }
</ul>


<input type="text" appLength>




@switch (role()) {
  @case ('admin') { <h3>ადმინი2</h3> }
  @case ('user') { <h3>მომხმარებელი2</h3> }
  @default { <h3>სტუმარი2</h3> }
}

@if (items().length === 0) {
  <p>No data</p>
} @else {


  <ul>
    @for (item of items(); track item) {
      <li>{{ item }}</li>
    }
  </ul>

}




<input #nameInput type="text">
<button (click)="addName(nameInput.value); nameInput.value=''">
  დამატება
</button>

<p
  *ngFor="let name of MyName; let i = index"
  [style.background]="i % 2 === 0 ? 'red' : 'green'"
>
  {{ name }}
</p>